
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/test/index/content');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li class="active">需求管理</li>
		</ol>
	</div>
</div>
						
<form id="splitPage" class="form-horizontal" action="${cxt!}/jf/test/requirements" method="POST">
	
	<div class="row">
		<div class="col-md-12">
			<!-- start: BORDERED TABLE PANEL -->
			<div class="panel panel-white">
				
				<div class="panel-heading">
					<h4 class="panel-title">
						<span class="text-bold">需求列表</span>
					</h4>
					<div class="panel-tools">										
						<% include("/common/panel-tools.html"){} %>
					</div>
				</div>
				
				<%
					var edit = authUrl("/jf/test/requirements/edit");
					var delete = authUrl("/jf/test/requirements/delete");
					var view = authUrl("/jf/test/requirements/view");
				%>
				
				<div class="panel-body">
					
					<div class="row">
						<div class="col-md-12 space20">
							<% if(authUrl("/test/requirements/add.html")){ %>
							<a href="#" data-toggle="modal" class="ajaxDialog btn btn-purple add-row"
							   data-url="/jf/test/blog/toUrl?toUrl=/test/requirements/add.html" data-backdrop="true">添加<i class="fa fa-plus"></i>
							</a>
							<% } %>
							
							<% if(delete == true){ %>
								<button type="button" class="btn btn-red delete-row" 
									data-bb="deleteList" data-url="/jf/test/requirements/delete"> 
									${i18nMap["admin.common.delete"]} <i class="fa fa-trash-o"></i>
								</button>
							<% } %>

						</div>
					</div>
					<div class="row" id="splitPageDivHead">
						<% include("/common/splitPageHead.html", {"divId" : "mainPanel", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
					</div>
					<table class="table table-striped" id="dataTable">
						<thead>
							<tr>
							
								<th class="center hidden-xs" width="50">
									<input type="checkbox" name="checkAll" class="flat-grey selectall" 
										onchange="common_common.checkFunc('dataTable', this.checked);"> 
								</th>
								<th class="hidden-xs" onclick="common_splitPage.orderbyFun(
										'mainPanel', 'splitPage', 'author')">
									用户	${orderBy("author")}
								</th>
								<th class="hidden-xs" onclick="common_splitPage.orderbyFun(
										'mainPanel', 'splitPage', 'creation_date')">
									创建时间	${orderBy("creation_date")}
								</th>

								<th class="hidden-xs">
									${i18nMap["admin.common.operation"]}
								</th>

							</tr>
						</thead>
						<tbody>
							
							<% for(requirements in splitPage.list){ %>
							<tr>
								<td class="center hidden-xs">
									<input type="checkbox" name="checkIds" 
										value="${requirements.req_sn!}" class="flat-grey foocheck">
								</td>
								<td>
									<!--<span class="label label-sm label-success">-->
										${escapeXml(requirements["author"]!)}
									<!--</span>-->
								</td>
								<td>
									${requirements.creation_date!, dateFormat="yyyy-MM-dd HH:mm:ss.SSS"}
								</td>
								<td class="hidden-xs">
									<% if(view == true){ %>
									<button type="button" class="btn btn-dark-yellow add-row" 
										onclick="common_ajax.ajaxMainPanel(
												'/jf/test/requirements/view/${requirements.req_sn!}');">
										${i18nMap["admin.common.see"]} <i class="fa fa-eye"></i>
									</button>
									<% } %>
										
									<% if(edit == true){ %>
									<button type="button" class="btn btn-green edit-row" 
										onclick="common_ajax.ajaxMainPanel(
												'/jf/test/blog/edit/${escapeXml(requirements.req_sn!)}');"> 
										${i18nMap["admin.common.edit"]} 
										<i class="fa fa-edit"></i>
									</button>
									<% } %>
									
									<% if(delete == true){ %>
									<button type="button" class="btn btn-red delete-row" 
										data-bb="deleteOne" 
										data-url="/jf/test/blog/delete/${requirements.req_sn!}"> 
										${i18nMap["admin.common.delete"]} 
										<i class="fa fa-trash-o"></i>
									</button>
									<% } %>
								</td>
							</tr>
							<% } %>
							
						</tbody>
						<tfood>
							<tr><th rowspan="1" colspan="1">
								<input type="text" name="filter_rendering_engine" placeholder=" " class="form-control input-sm datatable_input_col_search" readonly>
							</th><th rowspan="1" colspan="1">
								<input type="text" name="_query.author" value='${escapeXml(paramMap["_query.author"])}'
									   maxlength="50" placeholder="用户" class="form-control focused input-sm datatable_input_col_search" onblur='common_ajax.ajaxFormMainPanel("splitPage");'>
							</th><th rowspan="1" colspan="1">
								<input type="text" name="filter_platform" placeholder="创建时间" class="form-control input-sm datatable_input_col_search" readonly>
							</th><th rowspan="1" colspan="1">
								<input type="text" name="filter_engine_version" placeholder="操作" class="form-control input-sm datatable_input_col_search" readonly>
							</th>
							</tr>
						</tfood>
					</table>
					
					<div class="row" id="splitPageDiv">
						<% include("/common/splitPage.html", {"divId" : "mainPanel", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
					</div>
					
				</div>
			
			</div>
			<!-- end: BORDERED TABLE PANEL -->
		</div>
	</div>
	
</form>			

<script type="text/javascript">
	jQuery(document).ready(function() {
		common_form.init();
	});
</script>

