
		<!-- start: CORE JAVASCRIPTS  -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/main.js"></script>

		<!-- end: CORE JAVASCRIPTS  -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootbox/bootbox.min.js"></script>
		<!-- start: index.html -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/lib/d3.v3.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/nv.d3.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/historicalBar.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/historicalBarChart.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/stackedArea.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/nvd3/src/models/stackedAreaChart.js"></script>

		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

		<!-- end: index.html -->
		
		<!-- start: table_data.html -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/select2/select2.min.js"></script>
		<!-- end: table_data.html -->
		
		<!-- start: form_elements.html -->
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/autosize/jquery.autosize.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jquery-maskmoney/jquery.maskMoney.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpicker/js/commits.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js"></script>
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		<!-- end: form_elements.html -->
		
		<script type="text/javascript" src="${cxt!}/ui/rapido/assets/js/ui-modals.js"></script>

		<!-- end: ui_modals.html -->
		
		<!-- start: ztree -->
		<script type="text/javascript" src="${cxt!}/jsFile/zTree/js/jquery.ztree.core-3.5.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/zTree/js/jquery.ztree.excheck-3.5.js"></script>
		<script type="text/javascript" src="${cxt!}/jsFile/zTree/js/jquery.ztree.exedit-3.5.js"></script>
		<link rel="stylesheet" href="${cxt!}/jsFile/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
		<style type="text/css">
			.ztree li span.button.name {margin-right:2px; background-position:-126px 0; vertical-align:top; *vertical-align:middle}
			.ztree li span.button.operator {margin-right:2px; background-position:-126px -64px; vertical-align:top; *vertical-align:middle}
			.ztree li span.button.param {margin-right:2px; background-position:-126px 0; vertical-align:top; *vertical-align:middle}
			.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
			.ztree li span.button.icon {margin-right:2px; background-position:-126px -80px; vertical-align:top; *vertical-align:middle}
		</style>
		<!-- end: ztree -->
		
		<!-- start: echarts -->
		<script type="text/javascript" src="${cxt!}/jsFile/echarts/echarts-all.js"></script>
		<!-- end: echarts -->


<!-- =============== VENDOR SCRIPTS ===============-->
   <!-- MODERNIZR-->
   <script src="${cxt!}/ui/angle/backend-jquery/vendor/modernizr/modernizr.js"></script>
   
   <!-- JQUERY-->
   <!--<script src="${cxt!}/ui/angle/backend-jquery/vendor/jquery/dist/jquery.js"></script>-->

   <!-- BOOTSTRAP-->
   <!--<script src="${cxt!}/ui/angle/backend-jquery/vendor/bootstrap/dist/js/bootstrap.js"></script>-->
   <!-- STORAGE API-->
   <script src=".${cxt!}/ui/angle/backend-jquery/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
   <!-- JQUERY EASING-->
   <script src="${cxt!}/ui/angle/backend-jquery/vendor/jquery.easing/js/jquery.easing.js"></script>
   <!-- ANIMO-->
   <script src="${cxt!}/ui/angle/backend-jquery/vendor/animo.js/animo.js"></script>
   <!-- SLIMSCROLL-->
   <script src="${cxt!}/ui/angle/backend-jquery/vendor/slimScroll/jquery.slimscroll.min.js"></script>
   <!-- SCREENFULL-->
   <script src="${cxt!}/ui/angle/backend-jquery/vendor/screenfull/dist/screenfull.js"></script>
   <!-- LOCALIZE-->
   <script src="${cxt!}/ui/angle/backend-jquery/vendor/jquery-localize-i18n/dist/jquery.localize.js"></script>

   <!-- =============== PAGE VENDOR SCRIPTS ===============-->

   <!-- CLASSY LOADER-->
   <script src=".${cxt!}/ui/angle/backend-jquery/vendor/jquery-classyloader/js/jquery.classyloader.min.js"></script>
   <!-- MOMENT JS-->
   <script src="${cxt!}/ui/angle/backend-jquery/vendor/moment/min/moment-with-locales.min.js"></script>
   <!-- DEMO-->
   <script src="${cxt!}/ui/angle/backend-jquery/app/js/demo/demo-flot.js"></script>
   