<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--&lt;!&ndash; start: BORDERED TABLE PANEL &ndash;&gt;-->
                    <!--<div class="panel panel-white">-->
            <!-- -->
                        <!--<div class="panel-body">-->

                            <form id="editForm" action="${cxt!}/jf/test/blog/save"
                                  method="POST" role="form" class="form-horizontal">

                                <% include("/test/blog/form.html"){} %>

                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <% if(authUrl("/jf/test/blog/save")){ %>
                                        <button type="button" class="btn btn-red"
                                                onclick="platform_verify.formValiSubmit(this.form);">
                                            ${i18nMap["admin.common.submit"]}
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                        <% } %>
                                    </div>
                                </div>
                            </form>

                        <!--</div>-->
            <!-- -->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->