
<div class="row">
	<div class="col-md-12">
		<!--<ol class="breadcrumb">-->
			<!--<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/test/index/content');">${i18nMap["admin.common.mainPage"]}</a></li>-->
			<!--<li class="active">博客管理</li>-->
		<!--</ol>-->
	</div>
</div>

<form id="splitPage" class="form-horizontal" action="${cxt!}/jf/test/blog" method="POST">
	<div class="row">
		<div class="col-md-12">
			<!-- start: BORDERED TABLE PANEL -->
			<div class="panel panel-white">

				<div class="panel-heading">
					<h4 class="panel-title">
						<span class="text-bold">博客列表</span>
					</h4>

				</div>

				<%
					var edit = authUrl("/jf/test/blog/edit");
					var delete = authUrl("/jf/test/blog/delete");
					var view = authUrl("/jf/test/blog/view");
				%>

				<div class="panel-body">

					<div class="row">
						<div class="col-md-12 space20">

							<% if(authUrl("/test/blog/add.html")){ %>
								<a href="#" data-toggle="modal" class="ajaxDialog btn btn-purple add-row"
							   data-url="/jf/test/blog/toUrl?toUrl=/test/blog/add.html" data-backdrop="true">添加<i class="fa fa-plus"></i></a>
							<% } %>

							<% if(delete == true){ %>
								<!--<button type="button" class="btn btn-red delete-row"-->
									<!--data-bb="deleteList" data-url="/jf/test/user/delete">-->
									<!--${i18nMap["admin.common.delete"]} <i class="fa fa-trash-o"></i>-->
								<!--</button>-->
							<% } %>
						</div>
					</div>
					<div class="row" id="splitPageDivHead">
						<% include("/common/splitPageHead.html", {"divId" : "mainPanel", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
					</div>
					<table class="table table-striped" id="dataTable">
						<thead>
							<tr>
								<th class="hidden-xs">
									总结
								</th>
								<th class="hidden-xs">
									发现者
								</th>
								<th class="hidden-xs">
									发现日期
								</th>
								<th class="hidden-xs">
									${i18nMap["admin.common.operation"]}
								</th>
								<th class="hidden-xs">
									测试
								</th>
							</tr>
						</thead>
						<tbody>

							<% for(blog in splitPage.list){ %>
							<tr>
								<td>
									<span class="label label-sm label-success">
										${escapeXml(blog["summary"]!)}
									</span>
								</td>
								<td>
									<span class="label label-sm label-success">
										${escapeXml(blog["assignedto"]!)}
									</span>
								</td>
								<td>
									${blog.detecteddate !, dateFormat="yyyy-MM-dd HH:mm:ss.SSS"}
								</td>
								<td class="hidden-xs">
									<div class="btn-group">
										<button type="button" class="btn btn-info">Action</button>
										<button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-info" aria-expanded="false">
											<span class="caret"></span>
											<span class="sr-only">info</span>
										</button>
										<ul role="menu" class="dropdown-menu">
											<li><a onclick="common_ajax.ajaxMainPanel(
												'/jf/test/blog/view/${blog.ids!}');">${i18nMap["admin.common.see"]}</a>
											</li>
											<li><a onclick="common_ajax.ajaxMainPanel(
												'/jf/test/blog/edit/${escapeXml(blog.ids!)}');">${i18nMap["admin.common.edit"]}</a>
											</li>
											<li><a type="button"
												   data-bb="deleteOne"
												   data-url="/jf/test/blog/delete/${blog.ids!}">${i18nMap["admin.common.delete"]}</a>
											</li>
										</ul>
									</div>
								</td>
								<td>
									<span class="label label-sm label-success">
										${escapeXml(blog["summary"]!)}
									</span>
								</td>
							</tr>
							<% } %>

						</tbody>
						<tfoot>
						<tr><th rowspan="1" colspan="1">
							<input type="text" name="filter_rendering_engine" placeholder=" " class="form-control input-sm datatable_input_col_search" readonly>
						</th><th rowspan="1" colspan="1">
							<input type="text" name="_query.title" value='${escapeXml(paramMap["_query.title"])}'
								   maxlength="50" placeholder="标题" class="form-control input-sm datatable_input_col_search" onblur='common_ajax.ajaxFormMainPanel("splitPage");'>
						</th><th rowspan="1" colspan="1">
							<input type="text" name="filter_platform" placeholder="创建时间" class="form-control input-sm datatable_input_col_search" readonly>
						</th><th rowspan="1" colspan="1">
							<input type="text" name="filter_engine_version" placeholder="操作" class="form-control input-sm datatable_input_col_search" readonly>
						</th>
						</tr>
						</tfoot>
					</table>

					<div class="row" id="splitPageDiv">
						<% include("/common/splitPage.html", {"divId" : "mainPanel", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
					</div>

				</div>

			</div>
			<!-- end: BORDERED TABLE PANEL -->
		</div>
	</div>

	<!-- START DATATABLE 3 -->
	<!--<div class="row">-->
		<!--<div class="col-md-12">-->
			<!--<div class="panel panel-white">-->
				<!--<div class="panel-heading">-->
					<!--<h4 class="panel-title">-->
						<!--<span class="text-bold">-->
					<!--Data Tables |-->
					<!--<small>Column Ordering</small>-->
							<!--</span>-->
					<!--</h4>-->
				<!--</div>-->

				<!--<div class="panel-body">-->
					<!--<div class="row">-->
					<!--<div class="col-md-12 space20">-->

						<!--<% if(authUrl("/test/blog/add.html")){ %>-->
						<!--<button type="button" class="mb-sm btn btn-green"-->
								<!--onclick="common_ajax.ajaxMainPanel('/jf/test/blog/toUrl?toUrl=/test/blog/add.html');">-->
							<!--添加博客 <i class="fa fa-plus"></i>-->
						<!--</button>-->
						<!--<% } %>-->

						<!--<% if(delete == true){ %>-->
						<!--<button type="button" class="mb-sm btn btn-danger"-->
								<!--data-bb="deleteList" data-url="/jf/test/user/delete">-->
							<!--${i18nMap["admin.common.delete"]} <i class="fa fa-trash-o"></i>-->
						<!--</button>-->
						<!--<% } %>-->

					<!--</div>-->
					<!--</div>-->
					<!--<table id="datatableyxin2" class="table table-striped table-hover">-->
						<!--<thead>-->
						<!--<tr>-->
							<!--<th class="center hidden-xs" width="50">-->
								<!--<input type="checkbox" name="checkAll" class="flat-grey selectall"-->
									   <!--onchange="common_common.checkFunc('dataTable', this.checked);">-->
							<!--</th>-->
							<!--<th class="hidden-xs" onclick="common_splitPage.orderbyFun(-->
										<!--'mainPanel', 'splitPage', 'title')">-->
								<!--标题	${orderBy("title")}-->
							<!--</th>-->
							<!--<th class="hidden-xs" onclick="common_splitPage.orderbyFun(-->
										<!--'mainPanel', 'splitPage', 'createtime')">-->
								<!--创建时间	${orderBy("createtime")}-->
							<!--</th>-->
							<!--<th class="hidden-xs">-->
								<!--${i18nMap["admin.common.operation"]}-->
							<!--</th>-->
						<!--</tr>-->
						<!--</thead>-->
						<!--<tbody>-->
						<!--<% for(blog in splitPage.list){ %>-->
						<!--<tr>-->
							<!--<td class="center hidden-xs">-->
								<!--<input type="checkbox" name="checkIds"-->
									   <!--value="${user.ids!}" class="flat-grey foocheck">-->
							<!--</td>-->
							<!--<td>-->
									<!--<span class="label label-sm label-success">-->
										<!--${escapeXml(blog["title"]!)}-->
									<!--</span>-->
							<!--</td>-->
							<!--<td>-->
								<!--${blog.createtime !, dateFormat="yyyy-MM-dd HH:mm:ss.SSS"}-->
							<!--</td>-->
							<!--<td class="hidden-xs">-->
								<!--<div class="btn-group">-->
									<!--<button type="button" class="btn btn-info">Action</button>-->
									<!--<button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-info" aria-expanded="false">-->
										<!--<span class="caret"></span>-->
										<!--<span class="sr-only">info</span>-->
									<!--</button>-->
									<!--<ul role="menu" class="dropdown-menu">-->
										<!--<li><a onclick="common_ajax.ajaxMainPanel(-->
												<!--'/jf/test/blog/view/${blog.ids!}');">${i18nMap["admin.common.see"]}</a>-->
										<!--</li>-->
										<!--<li><a onclick="common_ajax.ajaxMainPanel(-->
												<!--'/jf/test/blog/edit/${escapeXml(blog.ids!)}');">${i18nMap["admin.common.edit"]}</a>-->
										<!--</li>-->
										<!--<li><a type="button"-->
											   <!--data-bb="deleteOne"-->
											   <!--data-url="/jf/test/blog/delete/${blog.ids!}">${i18nMap["admin.common.delete"]}</a>-->
										<!--</li>-->
									<!--</ul>-->
									<!--</div>-->
								<!--&lt;!&ndash;<% if(view == true){ %>&ndash;&gt;-->
								<!--&lt;!&ndash;<button type="button" class="btn btn-dark-yellow add-row"&ndash;&gt;-->
										<!--&lt;!&ndash;onclick="common_ajax.ajaxMainPanel(&ndash;&gt;-->
												<!--&lt;!&ndash;'/jf/test/blog/view/${blog.ids!}');">&ndash;&gt;-->
									<!--&lt;!&ndash;${i18nMap["admin.common.see"]} <i class="fa fa-eye"></i>&ndash;&gt;-->
								<!--&lt;!&ndash;</button>&ndash;&gt;-->
								<!--&lt;!&ndash;<% } %>&ndash;&gt;-->

								<!--&lt;!&ndash;<% if(edit == true){ %>&ndash;&gt;-->
								<!--&lt;!&ndash;<button type="button" class="btn btn-green edit-row"&ndash;&gt;-->
										<!--&lt;!&ndash;onclick="common_ajax.ajaxMainPanel(&ndash;&gt;-->
												<!--&lt;!&ndash;'/jf/test/blog/edit/${escapeXml(blog.ids!)}');">&ndash;&gt;-->
									<!--&lt;!&ndash;${i18nMap["admin.common.edit"]}&ndash;&gt;-->
									<!--&lt;!&ndash;<i class="fa fa-edit"></i>&ndash;&gt;-->
								<!--&lt;!&ndash;</button>&ndash;&gt;-->
								<!--&lt;!&ndash;<% } %>&ndash;&gt;-->

								<!--&lt;!&ndash;<% if(delete == true){ %>&ndash;&gt;-->
								<!--&lt;!&ndash;<button type="button" class="btn btn-red delete-row"&ndash;&gt;-->
										<!--&lt;!&ndash;data-bb="deleteOne"&ndash;&gt;-->
										<!--&lt;!&ndash;data-url="/jf/test/blog/delete/${blog.ids!}">&ndash;&gt;-->
									<!--&lt;!&ndash;${i18nMap["admin.common.delete"]}&ndash;&gt;-->
									<!--&lt;!&ndash;<i class="fa fa-trash-o"></i>&ndash;&gt;-->
								<!--&lt;!&ndash;</button>&ndash;&gt;-->
								<!--&lt;!&ndash;<% } %>&ndash;&gt;-->
							<!--</td>-->
						<!--</tr>-->
						<!--<% } %>-->
						<!--</tbody>-->
						<!--<tfoot>-->
						<!--</tfoot>-->
					<!--</table>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--END Datatable 3-->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-heading">
					<h4 class="panel-title">
						<span class="text-bold">
					D3 |
					<small>d3.js</small>
							</span>
					</h4>
				</div>

				<div class="panel-body">
					<div class="row" id="d3test">

					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-heading">
					<h4 class="panel-title">
						<span class="text-bold">
					D3 |
					<small>d3.js.linecircle</small>
							</span>
					</h4>
				</div>

				<div class="panel-body">
					<div class="row" id="d3testline">

					</div>

				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
	//	common_form().init();
	common_modals.init();

	//d3 test
	d3.json(url,function(jsonstr) {
	var m = [30, 10, 10, 30],
			w = 960 - m[1] - m[3],
			h = 930 - m[0] - m[2];

	var format = d3.format(",.0f");

	var x = d3.scale.linear().range([0, w]),
			y = d3.scale.ordinal().rangeRoundBands([0, h], .1);

	var xAxis = d3.svg.axis().scale(x).orient("top").tickSize(-h),
			yAxis = d3.svg.axis().scale(y).orient("left").tickSize(0);

	var svg = d3.select("#d3test").append("svg")
			.attr("width", w + m[1] + m[3])
			.attr("height", h + m[0] + m[2])
			.append("g")
			.attr("transform", "translate(" + m[3] + "," + m[0] + ")");

	url = 'http://localhost:8080/jf/test/angle/get';

//		data = [
//			{"name": "AL", "value": 1000},
//			{"name": "AK", "value": 1200},
//			{"name": "AZ", "value": 1600}
//		];
		console.log(jsonstr);
		data = jsonstr.testdata1;
		// Parse numbers, and sort by value.
		data.forEach(function(d) { d.value = +d.value; });
		data.sort(function (a, b) {
			return b.value - a.value;
		});

		// Set the scale domain.
		x.domain([0, d3.max(data, function (d) {
			return d.value;
		})]);
		y.domain(data.map(function (d) {
			return d.name;
		}));

		var bar = svg.selectAll("g.bar")
				.data(data)
				.enter().append("g")
				.attr("class", "bar")
				.attr("transform", function (d) {
					return "translate(0," + y(d.name) + ")";
				});

		bar.append("rect")
				.attr("width", function (d) {
					return x(d.value);
				})
				.attr("height", y.rangeBand());

		bar.append("text")
				.attr("class", "value")
				.attr("x", function (d) {
					return x(d.value);
				})
				.attr("y", y.rangeBand() / 2)
				.attr("dx", -3)
				.attr("dy", ".35em")
				.attr("text-anchor", "end")
				.text(function (d) {
					return format(d.value);
				});

		svg.append("g")
				.attr("class", "x axis")
				.call(xAxis);

		svg.append("g")
				.attr("class", "y axis")
				.call(yAxis);
	})
	// d3testline
	var svg = dimple.newSvg("#d3testline", 590, 400);

	// The default data set for these examples has regular times
	// and the point of this demo is to show the time axis
	// functionality, therefore a small bespoke data set is used.
	data = [
		{ "Shift":"Early","Date":"12 Jul 2010 10:00","Value":1000 },
		{ "Shift":"Early","Date":"20 Jul 2010 10:20","Value":1200 },
		{ "Shift":"Early","Date":"1 Aug 2010 10:40","Value":1600 },
		{ "Shift":"Early","Date":"8 Aug 2010 10:10","Value":1300 },
		{ "Shift":"Early","Date":"20 Aug 2010 11:00","Value":1900 },
		{ "Shift":"Early","Date":"7 Sep 2010 09:50","Value":1100 },
		{ "Shift":"Early","Date":"13 Sep 2010 10:10","Value":1000 },
		{ "Shift":"Early","Date":"1 Oct 2010 12:00","Value":2000 },
		{ "Shift":"Early","Date":"6 Oct 2010 10:10","Value":1900 },
		{ "Shift":"Early","Date":"19 Oct 2010 11:40","Value":1800 },
		{ "Shift":"Early","Date":"24 Oct 2010 10:30","Value":1200 },
		{ "Shift":"Early","Date":"3 Nov 2010 09:30","Value":1800 },
		{ "Shift":"Early","Date":"12 Nov 2010 10:50","Value":1800 },
		{ "Shift":"Early","Date":"20 Nov 2010 10:10","Value":1900 },
		{ "Shift":"Early","Date":"5 Dec 2010 10:50","Value":1600 },
		{ "Shift":"Early","Date":"9 Dec 2010 12:20","Value":1700 },
		{ "Shift":"Early","Date":"15 Dec 2010 10:10","Value":1400 },
		{ "Shift":"Early","Date":"20 Dec 2010 10:00","Value":1200 },
		{ "Shift":"Late","Date":"11 Jul 2010 16:00","Value":2400 },
		{ "Shift":"Late","Date":"30 Jul 2010 17:30","Value":2000 },
		{ "Shift":"Late","Date":"1 Aug 2010 15:40","Value":1600 },
		{ "Shift":"Late","Date":"5 Aug 2010 13:10","Value":1700 },
		{ "Shift":"Late","Date":"1 Sep 2010 15:00","Value":1900 },
		{ "Shift":"Late","Date":"7 Sep 2010 15:50","Value":1100 },
		{ "Shift":"Late","Date":"13 Sep 2010 14:10","Value":1500 },
		{ "Shift":"Late","Date":"30 Sep 2010 13:00","Value":1000 },
		{ "Shift":"Late","Date":"1 Nov 2010 15:50","Value":1800 },
		{ "Shift":"Late","Date":"24 Nov 2010 15:10","Value":1900 },
		{ "Shift":"Late","Date":"1 Dec 2010 15:50","Value":1600 },
		{ "Shift":"Late","Date":"5 Dec 2010 15:20","Value":1700 },
		{ "Shift":"Late","Date":"13 Dec 2010 15:10","Value":1400 },
		{ "Shift":"Late","Date":"25 Dec 2010 15:00","Value":1200 }
	];

	// Create Separate Date and Time, this allows us to draw them
	// on separate axes.  Despite the time axis only displaying
	// the time portion, the whole date is used so they need to
	// have the same date allocated
	data.forEach(function (d) {
		d["Day"] = d["Date"].substring(0, d["Date"].length - 6);
		d["Time of Day"] =
				"2000-01-01 " + d["Date"].substring(d["Date"].length - 5);
	}, this);

	// Create the chart as usual
	var myChart = new dimple.chart(svg, data);
	myChart.setBounds(70, 40, 490, 320)

	// Add the x axis reading dates in the format 01 Jan 2012
	// and displaying them 01 Jan
	var x = myChart.addTimeAxis("x", "Day", "%d %b %Y", "%d %b");

	// Add the y axis reading dates and times but only outputting
	// times.
	var y = myChart.addTimeAxis("y", "Time of Day",
			"%Y-%m-%d %H:%M", "%H:%M");

	// Size the bubbles by volume
	var z = myChart.addMeasureAxis("z", "Value");

	// Setting min and max dates requires them to be set
	// as actual javascript date objects
	x.overrideMin = new Date("2010-06-20");
	x.overrideMax = new Date("2011-01-02");
	y.overrideMin = new Date("01/01/2000 9:00 am");
	y.overrideMax = new Date("01/01/2000 6:00 pm");

	// Show a label for every 4 weeks.
	x.timePeriod = d3.time.weeks;
	x.timeInterval = 4;

	// Control bubble sizes by setting the max and min values
	z.overrideMin = 900;
	z.overrideMax = 3000;

	// Add the bubble series for shift values first so that it is
	// drawn behind the lines
	myChart.addSeries("Shift", dimple.plot.bubble);

	// Add the line series on top of the bubbles.  The bubbles
	// and line points will naturally fall in the same places
	var s = myChart.addSeries("Shift", dimple.plot.line);

	// Add line markers to the line because it looks nice
	s.lineMarkers = true;

	// Show a legend
	myChart.addLegend(180, 10, 360, 20, "right");

	// Draw everything
	myChart.draw();
</script>
